/*
===================
GENERAL
===================
*/

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
    font-family: 'Roboto', sans-serif;
}

.rokkitt {
    font-family: 'Rokkitt', sans-serif;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.none {
    display: none;
}

.bg-dark {
    background-color: #333;
}

.white {
    color: #fff;
}


/*
===================
HEADER
===================
*/

.jumbotron {
    margin-bottom: 0;
    padding: 10px;
    padding-bottom: 0;
    text-align: center;
}

.jumbotron h1 {
    font-size: 4rem;
}

.jumbotron p {
    font-size: 1.4rem;
    padding: 0 30px;
}

.jumbotron form label {
    font-size: 2rem;
}

.jumbotron form select {
    margin-left: 10px;
}

.jumbotron form span {
    font-size: 2rem;
}

.line {
    background-color: #000;
    width: 5%;
    height: 2px;
    border: 0;
    margin: 0 auto 20px;
}


/*
===================
GAME
===================
*/

.col-md-5 {
    margin: 0;
    padding: 0;
}

.score-board {
    display: inline-block;
}

.div-game {
    height: 70vh;
    padding: 40px 20px;
}

#miss,
#fail,
#done {
    font-size: 2.2rem;
    text-align: center;
}

#peru form,
#mexico form {
    margin: 10px auto;
    padding: 20px;
    text-align: center;
}

#peru form label,
#mexico form label {
    font-size: 2.5rem;
}

.form-control {
    width: 70%;
    height: 10vh;
    text-align: center;
    margin: 20px auto;
    font-size: 2.5rem;
}

#peru form button,
#mexico form button {
    background-color: #f9a91a;
    border: 0;
    border-radius: 10px;
    width: 20%;
    height: 40px;
    font-size: 2rem;
    margin: 20px auto;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

#peru form button:hover,
#mexico form button:hover,
#peru form button:focus,
#mexico form button:focus {
    outline: none;
    transform: scale(1.2);
}


/*
===================
FINAL SCORE
===================
*/

#final {
    text-align: center;
    font-size: 2rem;
}